@media screen and (min-width: 769px) {
  h2 {
    font-size: 5.625rem !important;
  }
  h3 {
    font-size: 3.125rem;
  }
  .bark-pattern {
    height: 6em;
  }
  .section-five {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 45rem;
  }
  .sweat-suit-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    background-color: #667973;
  }
  .sweat-suit-image-wrapper img {
    width: unset;
  }
  .text-overlay {
    position: absolute;
    background-color: rgba(253, 161, 136, 0.5);
    left: 0;
    padding: 0rem 1rem 0rem 3rem;
    width: 50%;
    text-align: left;
  }
  .text-overlay h2 {
    color: var(--color-white);
    font-size: 5.61rem !important;
    font-weight: 200;
  }
  .kit-addition {
    display: grid;
  }
  .kit-addition p {
    margin: 20%;
  }
  .h3-wrapper {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
  }
  .h3-wrapper h3 {
    font-weight: 200;
  }
  .call-to-action-btn {
    width: 50%;
    margin-left: 25%;
  }

  /* SHOP SECTION */
  .flickity-prev-next-button {
    display: unset;
    top: 105% !important;
    z-index: 1 !important;
  }
  .carousel-wrapper {
    border-top: 2px solid var(--color-black);
    height: unset;
  }
  .carousel {
    border: 2px solid var(--color-black);
  }
  .shop-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .desktop-shop {
    border: 2px solid var(--color-black);
    height: 45rem;
  }
  .flex-h2 {
    background-color: var(--color-background);
    display: grid;
    border-bottom: 2px solid var(--color-black);
    padding-bottom: 15%;
    padding-left: 20%;
  }
  .flex-h2 h2 {
    color: var(--color-black);
  }
  .desktop-shop :is(p, h3) {
    display: flex;
    margin-top: 4rem;
    padding: 1%;
    margin-left: 20%;
    margin-right: 30%;
  }
  .shop-item button {
    right: 0;
    bottom: 0;
    left: unset;
    width: 12rem;
    height: 3rem;
    font-size: 2.5rem;
  }
  .shop-item h2 {
    left: unset;
  }
  .shop-item.is-selected img {
    transform: scale(1);
  }
  .desktop-shop h3 {
    background-color: var(--color-primary);
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .click-mobile {
    display: none;
  }
  .travel-guide {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .travel-guide video {
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 46rem;
  }
  .travel-question {
    position: absolute;
    background-color: var(--color-secondary);
    font-size: 3rem;
    margin: 8%;
    right: 35%;
    top: 19%;
    line-height: 5rem;
    padding: 1%;
    opacity: 0.9;
  }
  .travel-question h2 {
    font-weight: 200;
    color: var(--color-primary);
  }
  .travel-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .travel-two h3 {
    margin-top: 10%;
    width: 70%;
    align-self: center;
    margin-bottom: -20%;
    font-size: 3rem;
  }
  .travel-two p {
    width: 70%;
    align-self: center;
    margin-top: 5%;
    margin-left: 14%;
  }
  .input-container {
    display: flex;
    align-items: flex-end;
  }
  .travel-guide button {
    width: 80%;
    margin-left: 10%;
  }
  .about-us-container {
    margin: 4rem 10rem 4rem 10rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us-container p {
    width: 45%;
    font-size: 1.125rem;
  }
  .section-seven hr {
    display: none;
  }
  .adventure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .subcheckers :not(:first-child) {
    display: unset;
  }
  .subcheckers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
  }
  footer > div > a:first-of-type {
    font-size: 1rem;
    font-weight: bold;
  }
  footer > div:first-of-type {
    margin-top: unset;
  }
  footer > div {
    margin-left: 10%;
    padding-top: 5%;
  }
  .footer-third-column {
    padding-top: unset;
    padding-top: 2%;
  }
}
