@media screen and (min-width: 769px) {
  h2 {
    font-size: 5.625rem !important;
  }
  h3 {
    font-size: 3.125rem;
  }
  .bark-pattern {
    height: 6em;
  }
  .sweat-suit-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    background-color: #667973;
  }
  .sweat-suit-image-wrapper img {
    width: unset;
  }
  .text-overlay {
    left: 0;
    right: unset;
  }
  .kit-addition {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .h3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
  }
  .call-to-action-btn {
    width: 80%;
    margin-left: 10%;
  }

  /* SHOP SECTION */
  .carousel-wrapper {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid var(--color-black);
  }
  .carousel {
    background-color: var(--color-background);
    align-self: center;
    width: 80%;
    border: 2px solid var(--color-black);
  }
  .flickity-prev-next-button {
    top: 105% !important;
    z-index: 1 !important;
  }
  .flickity-page-dots {
    bottom: -40px !important;
  }
  .flickity-page-dots .dot {
    width: 20px !important;
    height: 20px !important;
    background: var(--color-white) !important;
    bottom: 5px !important;
  }
  .section-five {
    height: 36rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .shop-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .desktop-shop {
    border: 2px solid var(--color-black);
  }
  .flex-h2 {
    border-bottom: 2px solid var(--color-black);
    display: grid;
    padding-bottom: 15%;
    padding-left: 10%;
  }
  .desktop-shop :is(p, h3) {
    display: flex;
    margin-top: 8rem;
  }
  .desktop-shop h3 {
    background-color: var(--color-primary);
  }
  .click-mobile {
    display: none;
  }
  .travel-guide {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .travel-guide video {
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
  }
  .travel-question {
    position: absolute;
    z-index: 1;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    left: 8%;
    top: 30%;
    right: 50%;
    opacity: 0.9;
    margin: unset;
  }
  .travel-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .travel-two h3 {
    margin-top: 10%;
    width: 60%;
    align-self: center;
  }
  .travel-two p {
    width: 60%;
    align-self: center;
    margin-top: 5%;
  }
  .input-container {
    display: flex;
    align-items: flex-end;
  }
  .travel-guide button {
    width: 80%;
    margin-left: 10%;
  }
  .about-us-container {
    margin: 4rem 10rem 4rem 10rem;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us-container p {
    width: 45%;
    font-size: 1.125rem;
  }
  .section-seven hr {
    display: none;
  }
  .adventure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .subcheckers :not(:first-child) {
    display: unset;
  }
  .subcheckers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
  }
  footer > div > a:first-of-type {
    font-size: 1rem;
    font-weight: bold;
  }
  footer > div:first-of-type {
    margin-top: unset;
  }
  footer > div {
    margin-left: 10%;
    padding-top: 5%;
  }
  .footer-third-column {
    padding-top: unset;
    padding-top: 2%;
  }
}
