body {
  height: 200vh;
}
.wrapper {
  width: 100vw;
  position: relative;
}
.scrollmenu {
  background-color: #333;
  overflow: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

.text-overlay {
  position: absolute;
  right: 0px;
  padding: 1rem;
  background: rgba(204, 204, 204, 0.5);
}
.text-overlay h2 {
  opacity: 100%;
}

.scrollmenu a:hover {
  background-color: #777;
}

.scroll-img {
  object-fit: cover;
  width: 100vw;
}

.wrapper .scrollmenu .item-container {
  scroll-snap-align: start;
}

.indicators {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  margin-top: 0.5rem;
}

.indicators li {
  width: 1rem;
  height: 1rem;
  background: #ccc;
  border: 2px solid #999;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s ease-out;
}

.indicators li:hover,
.indicators li.selected {
  transform: scale(1.3);
}
