.presentation-image {
  width: 100vw;
}
.company-name {
  font-size: 2.3rem;
}
.company-vision {
  font-size: 1.5rem;
}
.section-two {
  display: flex;
  flex-direction: column-reverse;
}
.clock-render {
  width: 100vw;
}
.vision-header {
  font-size: 2rem;
}
.vision-text {
  font-size: 1rem;
}
.section-three {
  position: relative;
  display: flex;
  flex-direction: column;
}
.the-kit {
  width: 100vw;
  margin-bottom: 0px;
}
.the-kit-heading {
  font-size: 4rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
}
.the-kit-subheading {
  font-size: 1rem;
  position: absolute;
  top: 6rem;
  left: 2.3rem;
  z-index: 1;
}
.call-to-action {
  background-color: hotpink;
  font-size: 1, 5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.till-hoeger {
  display: none;
}
.section-four {
  margin: 1rem;
  margin-top: 1rem;
}
.section-four h3 {
  font-size: 2rem;
}
.section-five {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.border-img {
  width: 100vw;
  height: 4rem;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}

.clock-one {
  display: none;
}

/*scroll-new-watch*/

.wrapper {
  width: 100vw;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.scrollmenu {
  overflow: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

.text-overlay {
  position: absolute;
  right: 0px;
  padding: 1rem;
  background: rgba(204, 204, 204, 0.5);
  margin-top: 0px;
}

.scrollmenu a:hover {
  background-color: #777;
}

.scroll-img {
  object-fit: cover;
  width: 100vw;
}

.wrapper .scrollmenu .item-container {
  scroll-snap-align: start;
}

/*kit-addition-section*/

.kit-addition {
  margin-top: 2rem;
}
.call-to-action-btn {
  background-color: hotpink;
  font-size: 1, 5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 2rem;
}

.travel-guide-img {
  object-fit: cover;
  width: 100vw;
}

/*section seven */

.section-seven article img {
  width: 100vw;
}

.about-us-container {
  text-align: left;
  margin-bottom: 10rem;
}

.about-us-container h2{
  padding: 1.5rem;
}

.about-us-container p{
  padding: 1.5rem;
}

.border-line {
  display: block;
  height: 0.1 rem;
  width: 100%;
  background-color: black;
}

.checkers {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.checkers > div {
  border: 1px solid black;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #777;
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr;
}

footer > div {
  display: flex;
  flex-direction: column;
}

footer > div > a:first-of-type {
  font-size: larger;
}

footer > div > a {
  line-height: 1.75rem;
}
